# Data Mining

In [3]:
import pandas as pd

In [5]:
data = pd.read_csv('../Data.tsv', sep = '\t')

In [89]:
data.shape

(55268, 3120)

In [6]:
data.head()

,CASEID,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,IIEMPSTY,II2EMSTY,EMPSTAT4,IIEMPST4,II2EMST4,PDEN00,COUTYP2,ANALWT_C,VESTR,VEREP
0,1,50886467,2,4,4,991,9991,91,91,91,...,1,1,99,9,9,2,2,1275.597449,30054,2
1,2,13766883,2,99,99,991,9991,91,91,91,...,1,1,1,1,1,2,2,5191.071173,30031,1
2,3,17772877,2,99,99,991,9991,91,91,91,...,1,1,1,1,1,3,3,419.742011,30056,2
3,4,45622817,1,99,99,13,9999,99,2,93,...,1,1,2,1,1,2,2,1449.303889,30054,1
4,5,17239390,1,99,99,11,9999,99,4,93,...,1,1,1,1,1,1,1,15344.293577,30012,2

In [8]:
data.columns = data.columns.str.lower()

from the data dictionary, isolating classifier that I want

In [10]:
data['mhsuithk'].value_counts()

 0    35609
-9    17551
 1     2108
Name: mhsuithk, dtype: int64

In [11]:
data['suicthnk'].value_counts()

2     35609
99    17399
1      2108
97      107
94       40
98        5
Name: suicthnk, dtype: int64

In [12]:
data['mhsutk_u'].value_counts()

 0    35761
-9    17399
 1     2108
Name: mhsutk_u, dtype: int64

In [13]:
data['k6scmon'].value_counts()

-9     17399
 0      7554
 2      4336
 1      4177
 3      3795
 4      3241
 5      2677
 6      2481
 7      1719
 8      1429
 9      1181
 10      996
 12      823
 11      813
 13      597
 14      408
 15      347
 16      280
 17      242
 18      236
 24      143
 19      126
 20      102
 21       68
 22       61
 23       37
Name: k6scmon, dtype: int64

In [14]:
df_sui = data[(data['suicthnk'] == 1) | (data['suicthnk'] == 2)]

In [15]:
df_impulse = data[(data['adwrsthk'] == 1) | (data['adwrsthk'] == 2)]

In [80]:
df_drugs = data[['cigflag', 'cigyr',
           'cigmon', 'alcflag', 'alcyr', 'alcmon', 'mrjflag', 'mrjyr',
           'mrjmon', 'cocflag', 'cocyr', 'cocmon', 'crkflag', 'herflag',
           'heryr', 'hermon', 'halflag', 'halyr', 'halmon', 'ecsflag',
           'ecsyr', 'ecsmon', 'inhflag', 'anlflag', 'anlyr', 'anlmon', 
           'cpnstmfg', 'cpnstmyr', 'cpnstmmn', 'cpnmthfg', 'cpnmthyr',
           'cpnmthmn', 'sedflag', 'sedyr', 'sedmon', 'sumflag', 'summon',
           'sumyr', 'bingehvy', 'nilalmon', 'fualc18', 'fumj18', 
            'fucoc18', 'dnicnsp', 'mhsutk_u']]

In [60]:
df = data[['depndill', 'abusealc', 'abuseill', 'booked','health2', 'irsex', 
           'irmarit', 'educcat2', 'catag3', 'newrace2', 'schenrl', 
           'empstaty', 'amhoutp3', 'mhsutk_u']]

created the dataframe to use in predicting suicidal thoughts

In [61]:
df = df[(df['mhsutk_u'] == 1) | (df['mhsutk_u'] == 0)]

In [63]:
df.rename(columns = {'mhsutk_u' : 'suicidality'}, inplace = True)

In [65]:
df['suicidality'].value_counts()

0    35761
1     2108
Name: suicidality, dtype: int64

In [66]:
df_no = df[df['suicidality']==0]

df_yes = df[df['suicidality']==1]

In [68]:
df_sampled_no = df_no.sample(df_yes.shape[0])

In [69]:
df = pd.concat([df_sampled_no, df_yes])

In [70]:
df.columns

Index(['depndill', 'abusealc', 'abuseill', 'booked', 'health2', 'irsex',
       'irmarit', 'educcat2', 'catag3', 'newrace2', 'schenrl', 'empstaty',
       'amhoutp3', 'suicidality'],
      dtype='object')

In [72]:
df.rename(columns ={
    'depndill' : 'drug_dependency',
    'abusealc' : 'alc_abuse',
    'abuseill' : 'drug_abuse',
    'booked'   : 'been_to_jail',
    'health2'  : 'overall_health',
    'irsex'    : 'sex',
    'irmarit'  : 'married',
    'educcat2' : 'education_level',
    'catag3'   : 'age_category',
    'newrace2' : 'race', 
    'schenrl'  : 'enrolled_school',
    'empstaty' : 'employment_status',
    'amhoutp3' : 'received_treatment'
}, inplace = True)

In [74]:
df['overall_health'].value_counts()

2    1557
3    1238
1     846
4     575
Name: overall_health, dtype: int64

In [77]:
# Reversing the health variable so that higher is better, for interpretability

df['overall_health'] = df['overall_health'].map({
    4 : 1,
    3 : 2,
    2 : 3,
    1 : 4
})

In [78]:
df.to_csv('./consolidated_dataframe.csv', index = False)

Cleaning and sampling drug dataframe

In [83]:
df_drugs = df_drugs[(df_drugs['mhsutk_u'] == 1) | (df_drugs['mhsutk_u'] == 0)]

In [84]:
df_drugs.rename(columns = {'mhsutk_u' : 'suicidality'}, inplace = True)

In [85]:
df_no = df_drugs[df_drugs['suicidality']==0]

df_yes = df_drugs[df_drugs['suicidality']==1]

In [86]:
df_sampled_no = df_no.sample(df_yes.shape[0])

In [87]:
df_drugs = pd.concat([df_sampled_no, df_yes])

In [88]:
df_drugs.to_csv('./drug_specific_dataframe.csv', index = False)